
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B4CDED;
    font-family: 'Outfit', sans-serif;
}

.content{
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #0D1821;
}

.lista-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-links li a {
    display: flex;
    padding: 15px;
    margin: 15px;
    color: #F0F4EF;
    border-radius: 15px;
    background-color: #344966;
    transition:  0.4s;
    text-decoration: none;
}

.lista-links li a:hover {
    background-color: #dadbdc;
    color: hsl(218, 44%, 22%);
}

@font-face {
    font-family: 'Outfit';
    src: url('Outfit-VariableFont_wght.ttf') format('truetype'); /* Adjust the font file name and format if needed */
}

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)